.container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  width: 400px; /* Mais amplo */
  margin: 50px auto;
}
/*Estilizando os inputs*/
input[type="text"],
input[type="email"] {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}
#mensagem {
  color: red; /* Mensagens de erro em vermelho */
}
